[Unit]
Description=*имя процесса*
After=syslog.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory= # полный путь к директории файла*
ExecStart= # имя файла, который будет перезапускать демон*
RestartSec=10
Restart=always
 
[Install]
WantedBy=multi-user.target
